:root {
    --note-padding: 25px;
    --note-shadow: #c9c9c9
}

.note {
    height: 300px;
    padding: var(--note-padding);

    position: relative !important;

    border-radius: 30px;
    background-color: #fff875;

    opacity: 0;
    transition: ease-in-out .1s;
}

.note.note-appear {
    opacity: 1;
}

.note:hover {
    -webkit-box-shadow: 0 0 10px 2px var(--note-shadow);
    -moz-box-shadow: 0 0 10px 2px var(--note-shadow);
    box-shadow: 0 0 10px 2px var(--note-shadow);
    scale: 1.009;
}

.note:hover .edit-button {
    visibility: visible;
}


.note-title {
    font-size: 28px;
}

.note-content {
    max-height: calc(100% - 60px);
    margin-bottom: 35px;
    font-size: 18px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    overflow: hidden;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.note-date {
    font-size: 15px ;
    position: absolute;
    left: var(--note-padding);
    bottom: var(--note-padding);
}

.edit-button {
    visibility: hidden;
    width: 45px;
    height: 45px;
    display: flex;
    background-color: #575757;
    border: 0;
    cursor: pointer;
    border-radius: 50%;


    position: absolute;
    right: var(--note-padding);
    bottom: var(--note-padding);
}

.edit-button:hover {
    opacity: 95%;
}

.edit-button img {
    margin: auto;
    width: 20px;
}

.delete-zone {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10px, -5px);
}

.delete-button {
    visibility: hidden;
    padding: 10px;
    height: 40px;
    width: 40px;

    border: 0;
    border-radius: 50%;
    background-color: #e3e3e3;
    cursor: pointer;
}

.delete-zone:hover .delete-button {
    visibility: visible;
}

.delete-button:hover {
    opacity: 80%;
}


@media (max-width: 820px) {
    .note {
        padding: 20px;
        height: 220px;
    }

    .note-title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .note-content {
        font-size: 14px;
    }

    .note-date {
        font-size: 10px;
    }
}