:root {
    --note-padding: 25px;
    --note-shadow: #c9c9c9
}

.note-wrapper {
    position: relative;
}

.note {
    height: 300px;
    text-decoration: none;
    color: #000;
    padding: var(--note-padding);

    border-radius: 30px;
    background-color: #fff875;

    z-index: 5;
}

.note-wrapper:hover .note {
    -webkit-box-shadow: 0 0 10px 2px var(--note-shadow);
    -moz-box-shadow: 0 0 10px 2px var(--note-shadow);
    box-shadow: 0 0 10px 2px var(--note-shadow);
    scale: 1.009;
    cursor: pointer;
}

.note:hover .edit-button {
    visibility: visible;
}

.note-enter {
    scale: 0;
    opacity: 0;
    translate: -120%;
    z-index: 10;
}

.note-enter-active {
    scale: 1;
    opacity: 1;
    translate: 0;
    transition: 350ms ease-in;
    z-index: 10;
}

.note-exit {
    scale: 1;
    opacity: 1;
}

.note-exit-active {
    scale: 0;
    opacity: 0;
    transition: 300ms ease-in;
}


.note-title {
    font-size: 28px;
}

.note-content {
    max-height: calc(100% - 60px);
    margin-bottom: 35px;
    font-size: 18px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    overflow: hidden;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.vm-list .note-content {
    -webkit-line-clamp: 2;
}

.note-date {
    font-size: 15px;
    position: absolute;
    left: var(--note-padding);
    bottom: var(--note-padding);
}

.edit-button {
    width: 45px;
    height: 45px;
    display: flex;
    background-color: #575757;
    visibility: hidden;
    opacity: .9;

    border: 0;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    right: var(--note-padding);
    bottom: var(--note-padding);
}

.edit-button:hover {
    opacity: 1;
}

.edit-button img {
    margin: auto;
    width: 20px;
}

.delete-zone {
    height: 60px;
    width: 60px;

    position: absolute;
    top: -15px;
    right: -15px;

    display: flex;
    justify-content: flex-end;

    z-index: 999;
}

.delete-button {
    padding: 9px;
    height: 40px;
    width: 40px;
    visibility: hidden;
    opacity: .9;

    border: 0;
    border-radius: 50%;
    background-color: #e3e3e3;
    cursor: pointer;
    z-index: 999;
}

.delete-zone:hover .delete-button {
    visibility: visible;
}

.delete-button:hover {
    opacity: 1;
}

@media (max-width: 1150px) {
    .note-enter {
        scale: 0;
        opacity: 0;
        translate: 90vw 90vh;
        z-index: 10;
    }

    .note-enter-active {
        scale: 1;
        opacity: 1;
        translate: 0;
        transition: 350ms ease-in;
        z-index: 10;
    }
}


@media (max-width: 820px) {
    :root {
        --note-padding: 20px;
    }

    .note {
        height: 220px;
    }

    .note-title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .note-content {
        font-size: 14px;
    }

    .note-date {
        font-size: 10px;
    }

    .delete-zone {
        display: none;
    }
}