.note-list {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}


.vm-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vm-list .note {
    max-height: 162px;
    width: 100%;
    height: auto;
}

.vm-list .note .note-text {
    max-width: calc(100% - 50px);
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

@media (max-width: 820px) {
    .note-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .vm-list .note {
        max-height: 140px;
    }
}

@media (max-width: 500px) {
    .note-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}