.profile-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    cursor: pointer;
}

.profile-panel p {
    font-size: 20px;
}

.profile-image {
    width: 50px;
    border-radius: 50%;
}