
#search-bar {
    padding-left: 35px;
    font-size: 25px;
    border: 0;
    background: 0;
}

.search-bar-holder {
    position: relative;
}

.search-bar-holder svg {
    fill: #b0b0b0;
    position: absolute;
    left: 0;
    top: 14%;
    pointer-events: none;
}

#search-bar:focus {
    outline: 0;
}

input[type="search"]::-webkit-search-cancel-button {
    width: 15px;
    height: 15px;
    margin-left: 9px;
    cursor: pointer;
    -webkit-appearance: none;
    display: inline-block;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #9b9b9b 45%, #9b9b9b 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(135deg, transparent 0%, transparent 43%, #9b9b9b 45%, #9b9b9b 55%, transparent 57%, transparent 100%);
}


@media (max-width: 450px) {
    #search-bar {
        padding-left: 25px;
        font-size: 23px;
        min-width: 100%;
        width: calc(100% - 35px);
    }

    .search-bar-holder svg {
        width: 23px;
        top: 7%;
    }
}