* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

#root {
}

.App {
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    background-color: #f8f8f8;
}

main {
    width: 100vw;
    min-width: 800px;
    margin-left: 250px;
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

