* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

#root {
}

.app {
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    position: relative;
    background-color: #f8f8f8;
}

main {
    width: 100vw;
    margin-left: 250px;
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media (max-width: 1150px) {
    main {
        margin: 0;
        padding: 20px;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    main {
        padding: 10px;
    }
}
