.NoteList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    gap: 20px;
}

.vm-list {
    flex-direction: column;
}

.vm-list .Note {
    max-height: 150px;
    max-width: 100%;
    width: 100%;
}

.vm-list .Note .note-text {
    overflow: hidden;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}