.NoteList {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.vm-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vm-list .Note {
    max-height: 170px;
    width: 100%;
    height: auto;
}

.vm-list .Note .note-text {
    max-width: calc(100% - 50px);
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}